.table .tableHeader {
    --bs-table-color:white;
    --bs-table-bg: #74A78A; /* I want this bg-color */
    background-color: var(--bs-table-bg); /* Apply bg color */
    color: var(--bs-table-color)
}
.table .otherTableHeader {
    --bs-table-color:white;
    --bs-table-bg: #E59B9B;; /* I want this bg-color */
    background-color: var(--bs-table-bg); /* Apply bg color */
    color: var(--bs-table-color)
}


.iconActionsTeacher-design{
    border: none;
    background: none;
    margin-left: 0.8em;
    padding: 0;
}

.iconActionsTeacher-design:hover{
    cursor: pointer;
}

@media(max-width:650px){
    .table{
        font-size: 0.6em;
    }
}