.boxHome-design{
    background-color:beige ;
    height: 100vh;
}

.title-welcome{
    color:#74A78A
}

.secondTitle-welcome{
    color:#E59B9B;
}

@media(max-width:764px){
    .boxButtonsAdmin-style{
        flex-direction: column;
    }
}

