.groupBox-style{
    background-color: beige;
    min-height: 100vh;
}

.viewTitle-design{
    color:#74A78A
}

.groupName-design{
    color:#E59B9B;
}

.iconGoTasks-design{
    border: none;
    background: none;
    margin-left: 0.8em;
    padding: 0;
}

.iconGoTasks-design:hover{
    cursor: pointer;
}