.customInput-design{
    border-radius: 0.4em;
    height: 2em;
    width: 20em;
    margin: 1em;
}

.adminControl-input-design{
    margin-top: 0;
}

@media(max-width:1440px){
    .customInput-design{
        width: 15em;
    }
}


