.tasksBox-style{
    background-color: beige;
    min-height: 100vh;
}

.iconGoGroup-design{
    border: none;
    background: none;
    margin-left: 0.8em;
    padding: 0;
}

.iconGoGroup-design:hover{
    cursor: pointer;
}